venv/
env/
.venv/
*/bin/
*/include/
*/lib/
*/lib64/
__pycache__/

*.pyc
/build/
.pytest_cache/
.mypy_cache/
.vscode/

*.sqlite3
db.sqlite3

settings_local.py
local_settings.py
.env

/staticfiles/
/static_root/

/media/

.DS_Store
*.swp
.vscode/
.idea/
